apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: "2021-01-01T09:35:31Z"
  generation: 1
  labels:
    app: example
  name: example
  namespace: default
  resourceVersion: "29468"
  selfLink: /apis/apps/v1/namespaces/default/deployments/example
  uid: b118ef96-4c14-11eb-bad3-0800275fa07a
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: example
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: example
    spec:
      containers:
      - image: nginx:1.13.5-alpine
        imagePullPolicy: IfNotPresent
        name: nginx
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status: {}
